@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*@function color($n){
    @if($n<0){
       
    $color:red;
    }
    @if($n>0){
       $color:green;
    }
    @return $color;
}*/
body{
    background-image: url("./comb.jpg");
    background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;
    


}
.App{
    color: white;
    margin-top: 50px;
    text-align: center;
    
    .p1{
        margin: 3% 0%
    }
    .container{
       width: 90vw;
        margin: 5%;
        .table{
           
           width: 100%;
                .tr{
                   
                    @include center;
                    justify-content:space-between;
                    text-align: left;
                   
                    padding: 10px 20px;
                    margin: 1%;
                    border-radius: 15px;
                    height: 50px;
                    
                    p,strong{
                        width: 120%;
                    }
                   
                }

                .tbody,.thead{
                    width: 100%;

                }
                .tbody .tr{
                    
              background:rgba(255,255,255,0.2);
              backdrop-filter: blur(6px);
              box-shadow: 0px 0px 2px 1px;

         
                   
                }
              
              
            
        }
    }
   
#title{
    font-size: 5vmax;
    text-shadow: rgb(201, 200, 197) 1px 0 10px;;
}}
.searchbar{
    @include center;
    input{
        height: 2vmax;
        width: 30vmin;
        border-radius: 20px;
        padding: 8px;
    }
    img{
        width: 2.7vmax;
    }
}